*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  width: 100vw;
  max-height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 242, 242);
}


/* Top bar start */
.top-bar {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-name {
  font-size: 15px;
  font-weight: 300;
  color: gray;
  padding-left: 10px
}
.btns-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.button {
  width: 40px;
  height: 30px;
  border: none;
  color: gray;
  transition: .2s ease-in-out;
  background-color: transparent;
  font-size: 20px;
}
.button:hover {
  background-color: rgb(209, 206, 206);
}
.button-close:hover {
  background-color: rgb(230, 42, 42);
}
/* Top bar end */

/* Calculator start */
.calculator {
  width: 100%;
  height: 95vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.row {
  width: 100%;
}

/* Display start */
.row-display {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: Arial, Helvetica, sans-serif;
}
.second-display {
  padding-right: 20px;
  color: gray;
}
.first-display {
padding-right: 5px;
font-size: 40px;
font-weight: 400;
}
/* Display end */

/* Memory Buttons row start*/
.row-memory {
  height: 5%;
  display: flex;
  justify-content: space-between;
}
.memory-btn {
  width: 16%;
  border: none;
  background-color: transparent;
  transition: .2s ease-in-out;
}
.memory-btn:hover {
  background-color: rgba(219, 214, 214, 0.582);
  border: 1px solid rgba(163, 160, 160, 0.726);
}
/* Memory Buttons row end*/

/* The rest of the buttons start */
.row-buttons {
  height: 75%;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
.btn {
  border: none;
}
.btn[data-type="operator"] {
  background-color: rgb(248, 248, 248);
}
.btn[data-type="number"],
.btn[data-type="dot"],
.btn[data-type="plusmn"] {
  background-color: #fff;
}
.btn:hover {
  background-color: rgba(236, 232, 232, 0.582);
  border: 1px solid rgba(163, 160, 160, 0.726);
}


.btn:active {
  background-color: rgba(197, 195, 195, 0.787);
}
.btn-equal[data-type="operator"] {
  background-color: rgba(255, 166, 0, 0.267);
}
.btn-equal:hover {
  background-color: rgba(255, 166, 0, 0.753);
}

@media (min-width: 1024px) {
  .app {
    width: 375px;
    height: 80vh;
    margin: 0 auto;
  }
  .calculator {
    height: 75vh;
  }
  .row-display {
    height: 15%;
  }
  .row-buttons {
    height: 80%;
  }
}

/* The rest of the buttons end */
